save-exact=true
provenance = true
engine-strict=true
auto-install-peers=true
prefer-workspace-packages = true
strict-peer-dependencies=true
publish-branch=main
link-workspace-packages=deep
save-workspace-protocol=false
include-workspace-root=false
side-effects-cache=false
